name: CI

on:
  push:
    branches:
      - "master"
      - "release/**"
    tags-ignore:
      - "**"
  pull_request:
  workflow_dispatch:

concurrency:
  # Cancels in-progress runs only for pull requests
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: "package.json"
          cache: "yarn"

      - run: yarn install

      - run: yarn generate
